body {
  margin: 0;
  padding: 0;
  background: radial-gradient(
    circle,
    rgb(30, 171, 148) 0%,
    rgb(91, 91, 125) 40%,
    rgb(0, 0, 0) 100%
  );
  height: 100vh;
  color: rgb(255, 255, 255);
  font-family: "Trebuchet MS", Arial, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 100px;
  margin: 0;
  text-transform: uppercase;
}
.custom-slider {
  width: 223px;
  height: 20px;
  background-color: rgb(255, 255, 255, 0.5);
}
.fill {
  width: 100%;
  height: 20px;
  background-color: rgb(125, 249, 208);
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
}
